---
layout: default
---

{% include slider.html %}

<!-- Content
============================================= -->
<section id="content">
  <div class="content-wrap">

    {% include charity.html %}

    <div class="container clearfix topmargin-sm">

      <div class="col_one_third nobottommargin center">
        <h2>Pick a Team</h2>
        <p>We have over 80 colleges and universities to choose from.  Pick your favorite or just whoever you're watching right now.</p>
      </div>

      <div class="col_one_third nobottommargin center">
        <h2>Add Some Friends</h2>
        <p>Invite your friends to communicate with you on the app.  We make it easy, just send a premade text!  Want to use the app without friends?  It's cool, we built some bots for that.</p>
      </div>

      <div class="col_one_third nobottommargin center col_last">
        <h2>Send Callouts</h2>
        <p>Once you have friends to communicate with, just tap on their name to send a team appropriate message.  Celebrate a momentum shift in the game, or just share your team spirit!</p>
      </div>
    </div>

    <div class="container clearfix">

      <div class="heading-block center">
        <h3>Subscribe for <span>Updates</span>.</h3>
      </div>

      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
        <form action="//rivalryapp.us9.list-manage.com/subscribe/post?u=c61007f2eae8365d47752665f&amp;id=b8e32d1890" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll" class="input-group input-group-lg divcenter">
          <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Enter your Email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_c61007f2eae8365d47752665f_b8e32d1890" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-default"></div>
            </div>
        </form>
      </div>


    </div>
  </div>
</section><!-- #content end -->