<div class="container clearfix">

  <img src="/images/appshowcase/slider-iphone.png" alt="Image" class="hidden-sm hidden-xs">

  <div class="col-md-6 fright nobottommargin">

    <div class="">
      <h1 data-style-lg="font-size: 52px;" data-style-md="font-size: 44px;">Love your team? <br><strong>Rivalry!</strong> proves it.</h1>
    </div>

    <div class="hidden-xs">
      <a href="https://itunes.apple.com/us/app/rivalry!/id931709155?mt=8&amp;uo=4" class="button button-desc button-border button-dark button-rounded nomargin"><i class="icon-apple"></i><div>Get it today! <span>Visit the App Store</span></div></a>
    </div>

    <div class="visible-xs">
      <a href="https://itunes.apple.com/us/app/rivalry!/id931709155?mt=8&amp;uo=4" class="button button-light button-xlarge button-rounded nomargin"><i class="icon-apple"></i>Get it today!</a>
    </div>

  </div>

</div>