<!-- Header
============================================= -->
<header id="header" class="full-header dark">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="/" class="standard-logo" data-dark-logo="/images/logo.png"><img src="/images/logo.png" alt="Canvas Logo" class="img-responsive"></a>
        <a href="/" class="retina-logo" data-dark-logo="/images/logo@2x.png"><img src="/images/logo@2x.png" alt="Canvas Logo" class="img-responsive"></a>
      </div><!-- #logo end -->
      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu">
        <ul>
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.url contains link.url %}
                {% assign current = 'current' %}
            {% endif %}
            <li class="{{ current }}">
                <a href="{{ link.url }}"><div>{{ link.title }}</div></a>
            </li>
          {% endfor %}
          <li >
            <a href="https://itunes.apple.com/us/app/rivalry!/id931709155?mt=8&amp;uo=4"><span class="button"><i class="icon-apple"></i>Get the App!<span></a>
          </li>
          <!-- <li>
            <a href="https://itunes.apple.com/us/app/rivalry!/id931709155?mt=8&amp;uo=4"><span class="button">Get the app! <i class="icon-android"></i></span></a>
          </li> -->
        </ul>
      </nav><!-- #primary-menu end -->
    </div>
  </div>
</header><!-- #header end -->