<section id="slider" class="slider-parallax full-screen">
  <div class="full-screen" style="background: url('/images/appshowcase/2.jpg'); background-size: cover;">
    <div class="container clearfix dark nofade">
      <div class="vertical-middle text-center">
        <div class="emphasis-title">
          <h1 data-style-lg="font-size: 52px;" data-style-md="font-size: 44px;">Show your spirit and impact your community.<br>Join the <span>Rivalry! Charity Challenge</span> happening right now.</h1>
        </div>
        <h2>UGA and UK tip off in:</h2>
        <div class="emphasis-title">
          <h1 id="clock"></h1>
        </div>
        <div class="col-md-offset-1 col-md-5">
          <a href="https://itunes.apple.com/us/app/rivalry!/id931709155?mt=8&amp;uo=4" class="button button-desc button-border button-light button-rounded nomargin"><div>Get the app!</div></a>
        </div>
        <div class="col-md-5">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="D5L6ACV64N5JA">
            <input type="submit" value="Donate to the Cause!" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="Submit" alt="PayPal - The safer, easier way to pay online!" class="button button-desc button-border button-light button-rounded">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>
        <div class="col-md-12 bottommargin-sm">
          <h3>All donations benefit UGA HEROs and UGA Miracle</h3>

        </div>
      </div>
    </div>
  </div>
</section>
