<section id="slider" class="slider-parallax full-screen">
  <div class="full-screen" style="background: url('/images/appshowcase/2.jpg'); background-size: cover;">
    <div class="container clearfix dark nofade">
      <div class="vertical-middle text-center">
        <div class="emphasis-title">
          <h1 data-style-lg="font-size: 52px;" data-style-md="font-size: 44px;">Show your spirit and impact your community.<br>Join in the <span>Rivalry! Charity Challenge</span> happening right now.</h1>
        </div>
        <h2>Georgia and Kentucky face off in:</h2>
        <div class="emphasis-title">
          <h1 id="clock"></h1>
        </div>
        <div class="col-md-offset-1 col-md-5">
          <a href="https://itunes.apple.com/us/app/rivalry!/id931709155?mt=8&amp;uo=4" class="button button-desc button-border button-light button-rounded nomargin"><i class="icon-apple"></i><div>Get the app! <span>Visit the App Store and start today</span></div></a>
        </div>
        <div class="col-md-5">
          <a href="#" class="button button-desc button-border button-light button-rounded nomargin"><i class="icon-thumbs-up"></i><div>Donate to the cause! <span>Support UGA Heroes and UGA Miracle</span></div></a>
        </div>
        <div class="col-md-12">
          <h3>All donations benefit UGA Heroes and UGA Miracle</h3>
        </div>
      </div>
    </div>
  </div>
</section>
